@media screen and (max-width: 480px) {
    .wrapper{
        padding: 32px 16px;
        height: auto;
    }
    .catalog{
        gap: 32px;
        flex-direction: column;
    }
    .cards-row{
        gap: 32px;
        flex-direction: column;
    }
    .card img{
        width: 128px;
        height: 128px;
    }
    .card h3{
        margin: 16px 0 8px 0;
    }
    .card p{
        max-width: 343px;
    }
}