*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.w-1400{
    width: 1400px;
    padding: 0 115px;
}
/*--------------------------- header ------------------------------*/
header{
    height: 113px;
    background: #24204A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
header h3{
    color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}
nav ul{
    display: flex;
    gap: 64px;
}
nav a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
/*--------------------------- top-section ------------------------------*/
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 113px;
    background: #24204A;
    height: 579px;
}
.left-top{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.left-top p:first-of-type{
    width: 145px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-top h2{
    width: 261px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}
.left-top p:last-of-type{
    width: 570px;
    height: 85px;
    flex-shrink: 0;
    color: #8E88C1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.left-top button{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;
    /* 1 */
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    border: none;
}
.left-top button a{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.right-top{
    width: 375px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}
.right-top img{
    margin: 15px -20px;
}
/*----------------------------- bottom-section ------------------------------*/
.bottom-section{
    height: 764px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.icons-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icon-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.icon-text p:first-of-type{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icon-text p:last-of-type{
    color: #8E88C1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.icon{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange{
    background: #FF6853;
}
.pink{
    background: #FF537C;
}
.turquoise{
    background: #80D2C4;
}
.violet{
    background: #3F50E7;
}
.green{
    background: #95CB7C;
}

.bottom-section>h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
}
.bottom-section>p{
    color: #8E88C1;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card{
    width: 209px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card>p{
    width: 178px;
    height: 60px;
    color: #8E88C1;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
/*----------------------------- footer ---------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 758px;
    background: #071341;
    gap: 35px;
}
footer>p{
    width: 96px;
    height: 24px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}