*{
    margin: 0;
}
body{
    font-size: 20px;
}
header, footer{
    height: 20vh;
    width: 100%;
    background-color: grey;
}
.wrap{
    width: 100%;
    display: flex;
}
main{
    width: 70%;
    height: 60vh;
    background-color: #446f44;
}
aside{
    width: 30%;
    height: 60vh;
    background-color: #3F50E7;
}
section{
    display: none;
}
header p::after{
    content: "desktop";
}
main, aside, footer{
    font-size: 1.3em;
}